section.position-relative
  .container.cardbox-absolute
    .cardbox-flex.animation-element.cardA
      mixin cardbox(cardclass, path, title, text, button, id)
        if button
          .cardbox.perfil(class=cardclass)
            .imgbox
              img.card-img(src=path, alt="")
            .title
              = title
            img(src="assets/equipe/dr-thales-assinatura.png", alt="Assinatura")
            p 
              = text
            button.btn.btn-outline-primary.btn-sm.rounded-0(type="submit" data-bs-toggle='modal' data-bs-target=id) Saiba mais
        else
          a.cardbox(class=cardclass, href="#")
            .imgbox
              img(src=path, alt="")
            .title
              = title
            if block 
              block

          

      +cardbox('link link-white cardbox-style1','assets/convenios.svg','CONVÊNIOS')
        p Uma grande variedade de <b>convênios</b>, confira aqui o seu.
      +cardbox('link link-white cardbox-style1','assets/clock.svg','HORÁRIOS')
        p Segunda a sexta de 
          strong 08h00 às 19h00.
      +cardbox('link link-white cardbox-style1','assets/users.svg','CORPO CLÍNICO')
        p A <b>Personnalité</b> conta com uma equipe completa, de clínica geral até cirugias avançadas ou estética do sorriso.
      +cardbox('link link-white cardbox-style1','assets/calendar.svg','AGENDAMENTO')
        p Entre em contato através do nosso <b>whatsapp</b> e faça seu agendamento. Estamos te aguardando.
