doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:url' content='http://www.personnaliteodontologia.com.br/')
    meta(property='og:type' content='Dentista, Saúde Bucal, Odontologia, Implantodontia e estética do sorriso')
    meta(property='og:title' content='Instituto Personnalité')
    meta(property='og:description' content='Implantodontia e estética do sorriso.')
    meta(property='og:image' content='http://www.personnaliteodontologia.com.br/assets/logo.svg')
    link(href='https://fonts.cdnfonts.com/css/montserrat' rel='stylesheet')
    title Instituto Personnalité - Implantodontia e estética do sorriso.
    link(rel='stylesheet', href='styles/main.scss')
    link(rel='apple-touch-icon' sizes='180x180' href='assets/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='manifest' href='assets/favicon/site.webmanifest')
    script(type="module" src='scripts/bootstrap.js')
    script(type="module" src='scripts/jquery.js')
    // script(type="module" async src='scripts/main.js')
    script(src='https://cdn2.woxo.tech/a.js#64586f1c510f85d5292ec1f7' async='' data-usrc='')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-89184615-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-89184615-1');
    script.
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyBQlP9Y7UfQ--6_bDyVANqW62W57pv-WaU",
      v: "weekly",
      libraries: ["places"]
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
      
      });
    script.
      let map;

      async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: -15.732311, lng: -47.897366 },
          zoom: 12,
          styles: [
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 13
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#144b53"
                    },
                    {
                        "lightness": 14
                    },
                    {
                        "weight": 1.4
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#08304b"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#0c4152"
                    },
                    {
                        "lightness": 5
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#0b434f"
                    },
                    {
                        "lightness": 25
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#0b3d51"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#5FA2B6"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#146474"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#021019"
                    }
                ]
            }
          ]
        });
        new google.maps.Marker({
          position: { lat: -15.732311, lng: -47.897366 },
          map,
          title: "Personnalité",
        });
      }

      initMap();
  body
    header
      include social.pug
      include navbar.pug
      include carousel.pug
    section.content#home
      include cards.pug
      include resumo.pug
      include servicos.pug
      include equipe.pug
      include booking.pug
      include map.pug
      include footer.pug
      include modal.pug
      a.link.shadow.backtotop(title="Voltar para o topo")
    footer